@charset "utf-8";
/* about页 */
.nav_bar .list .item a{
    color: #000;
}
.content{
    width: 100%;
}
.content .banner{
    position: relative;
    width: 100%;
}
.content .banner img{
    display: block;
    width: 100%;
}
.one,
.two,
.three{
    overflow: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.one .one_title,
.two .two_title,
.three .three_title{
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.one .one_title::after,
.two .two_title::after,
.three .three_title::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1.5rem;
    width: 3rem;
    height: .2rem;
    background-color: #fcb256;
}
.one .one_info{
    line-height: 1.4rem;
    text-indent: 2em;
    font-size: .9rem;
}
.two .box{
    width: 30%;
    margin: 1rem 1.666666% 3rem;
    float: left;
    background-color: #fff;
    text-align: center;
}
.two .box img{
    width: 70%;
    display: block;
    margin: 2.5rem auto 0;
}
.two .box .box_title{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
.three{
    text-align: center;
}
.three .school,
.three .it{
    width: 100%;
    margin-bottom: 2rem;
}
.three .school .pic,
.three .it .pic{
    width: 17%;
    border: 1px solid #ddd;
    padding: 1%;
    margin: 1.5%;
    float: left;
}
.three .school .pic img,
.three .it .pic img{
    width: 100%;
    display: block;
}
.four .content {
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}
.four .content img{
    width: 100%;
    display: block;
}
.swiper-container {
    width: 100%;
    margin: 20px auto;
}
/* 动画部分 */
.three_fadeIn{
    transform: scale(0);
    transition: transform .8s ease-in-out;
}
.two_fadeIn_left{
    transform: translateX(-40rem);
    transition: transform .8s ease;
}
.two_fadeIn_center{
    transform: translateY(-80rem);
    transition: transform .8s ease;
}
.two_fadeIn_right{
    transform: translateX(40rem);
    transition: transform .8s ease;
}
.fadeOut{
    transform:none;
}
@media screen and (max-width: 768px) {
    .two .box img{
        width: 100%;
    }
    .two .box .box_title{
        display: none;
    }
    .three .school .pic,
    .three .it .pic{
        width: 40%;
        margin: 5%;
    }
    .four .content {
        border-radius: 0;
    }
}