@charset "utf-8";
/*404内容*/
.bar{
	position: relative;
	width: 100%;
	text-align: center;
	background: url(../img/texture-dark.png);
}
.bar span.white{
	font-size: 30px;
	line-height: 5;
}
.bar .input-box{
	position: absolute;
	left: 50%;
	bottom: -30px;
	margin-left: -230px;
	width: 460px;
	height: 50px;
	line-height: 50px;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	text-align: left;
	padding-left:10px;
}
/*内容模块*/
.middle{
	width: 100%;
	padding:70px 0px 30px;
}
.middle .box{
	padding:10px;
}
.middle .box .row{
	border:2px solid #E0E0E0;
	border-radius: 3px;
	padding:10px;
	margin: 0px;
}
.middle .box .row .title{
	font-size: 1.5em;
}
.middle .box .row .tu img{
	width: 80%;
}
.middle .box .row .loction{
	display: block;
	width: 70px;
	border-radius: 3px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #746fca;
	text-align: center;
	line-height: 2.5;
}
.middle .box .row .center{
	line-height: 1.5;
}