@charset "utf-8";
.actGotop {
    position: fixed;
    bottom: 80px;
    right: 50px;
    padding: 10px;
    display: none;
    z-index: 100;
    background-color: gray;
    text-align: center;
    color:#ffffff;
}
.actGotop a{
	color: #ffffff;
}