@charset "utf-8";
/*404内容*/
.bar{
	position: relative;
	width: 100%;
	text-align: center;
	background: url(../img/texture-yellow.png);
}
.bar span.white{
	font-size: 30px;
	line-height: 5;
}
.bar .input-box{
	position: absolute;
	left: 50%;
	bottom: -30px;
	margin-left: -230px;
	width: 460px;
	height: 50px;
	line-height: 50px;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	text-align: left;
	padding-left:10px;
}
/*内容模块*/
.middle{
	width: 100%;
	padding:70px 0px 30px;
}
.middle .content{
	/*border: 1px solid red;*/
	padding: 0px 20px;
}
.middle .content .top{
	font-size: 25px;
	padding: 10px 10px;
}
.middle .content .title,
.middle .content .bottom{
	padding: 10px 0px;
	border-top: 2px solid #E1E1E1;
	border-bottom: 2px solid #E1E1E1;
}
.middle .content .main{
	padding: 10px 10px;
}
.middle .content .main .imgbar>img{
	display: block;
	width: 100%;
	padding: 15px 0px;
}
.middle .content .main .stract{
	line-height: 1.5;
}
.middle .content .main .titlebar{
	font-size: 25px;
	padding: 10px 0px;
}
.middle .content .bottom a{
	display: inline-block;
	padding: 8px;
	color: #ffffff;
	/*border: 1px solid #E1E1E1;*/
	background-color: #17A2B8;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
}
.middle .content .bottom .previous,
.middle .content .bottom .next{
	display: inline-block;
}
.middle .content .bottom .next{
	float: right;
}
.middle .content .title .one{
	display: inline-block;
}
.middle .content .title .one .author{
	display: inline-block;
	/*border: 1px solid red;*/
	border-radius: 5px;
	padding: 2px 5px;
}
.middle .content .title .two{
	display: inline-block;
	float: right;
}
.middle .sidebar{
	/*border: 1px solid red;*/
	padding: 0px 5px 5px;
}
.middle .sidebar .get,
.middle .sidebar .posts,
.middle .sidebar .hot{
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	margin-bottom: 10px;
}
.middle .sidebar .text{
	margin-bottom: 10px;
}
.middle .sidebar .get .t-t,
.middle .sidebar .get .con{
	padding-left: 10px;
}
.middle .sidebar .get .t-t{
	line-height: 2;
	font-size: 20px;
}
.middle .sidebar .get .con>li{
	display: inline-block;
	margin: 20px 10px 20px 0px;
}
.middle .sidebar .get .con .icon{
	color: #555558;
	font-size: 20px;
}
.middle .sidebar .posts .t-c{
	padding-left: 10px;
	line-height: 2;
	font-size: 20px;
}
.middle .sidebar .posts .tips{
	padding-left: 10px;
}
.middle .sidebar .posts>ul>li:nth-child(1),
.middle .sidebar .posts>ul>li:nth-child(2){
	border-bottom: 1px solid #E1E1E1;
}
.middle .sidebar .posts .tips .title{
	font-size: 20px;
	padding: 8px 0px;
	color: green;
}
.middle .sidebar .posts .tips .date{
	padding: 8px 0px;
	color: gray;
}
.middle .sidebar .hot .t-f{
	padding-left: 10px;
	line-height: 2;
	font-size: 20px;
}
.middle .sidebar .hot .hot-bar{
	padding: 15px;
}
.middle .sidebar .hot .hot-bar>a{
	display: inline-block;
	padding: 8px;
	color: #454142;
	border: 1px solid #E1E1E1;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
}
.middle .sidebar .text{
	padding: 10px;
}
.middle .sidebar .text .textbar{
	font-size: 20px;
	padding-bottom: 5px;
}
.middle .sidebar .text .msg{
	line-height: 1.5;
	color: #fff;
}
.middle .sidebar .text .msg>a{
	display: block;
	width: 60px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #FA3664;
	text-align: center;
	line-height: 2.5;
	margin-top: 10px;
	border-radius: 2px;
}