@charset "utf-8";
/*轮播图*/
.swiper-container .swiper-wrapper .one{
	background:url(../img/texture.png);
}
.swiper-container .swiper-wrapper .two{
	background:url(../img/texture-dark.png);
}
.swiper-container .swiper-wrapper .three{
	background:url(../img/texture-yellow.png);
}
.swiper-container .swiper-wrapper .pic1{
	padding-top: 26px;
	padding-bottom: 26px;
}
.swiper-container .swiper-wrapper .pic1 .text{
	display: inline-block;
	margin-top: 80px;
	font-size: 30px;
	line-height: 1.2;
	color: #fff;
}
.swiper-container .swiper-wrapper .pic1 img{
	display: inline-block;
	border-radius: 400px 300px 300px 400px;
	width: 300px;
	float: right;
}
.swiper-container .swiper-wrapper .pic1 a{
	display: block;
	width: 150px;
	border-radius: 10px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #746fca;
	text-align: center;
	line-height: 2.5;
	margin-top: 30px;
}
.swiper-pagination-bullet-active{
	width: 18px;
 	border-radius: 20px;
}
/*儿童模块*/
.middle{
	width: 100%;
	background-color: #fff;
}
.middle .con{
	padding-top: 20px;
	padding-bottom:30px;
}
.middle .con .text{
	display: inline-block;
}
.middle .con .text>p{
	margin: 0;
}
.middle .con .child{
	padding-right: 20px;
}
.middle .con .child img{
	display: inline-block;
	width: 270px;
	margin-top: 40px;
	float: right;
}
.middle .con .text a{
	display: block;
	width: 60px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #FA3664;
	text-align: center;
	line-height: 2.5;
	margin-top: 10px;
}
.middle .con .text .title{
	font-size: 30px;
}
.middle .con .text .t-h{
	font-size: 28px;
	color: #FF9C00;
}
.middle .con .text .t-c{
	line-height: 1.8;
}
.middle .con .text .t-f{
	color: gray;
	line-height: 1.4;
	margin-top: 10px;
}
/*学校模块*/
.main{
	background:url(../img/texture.png);
	text-align: center;
	padding-top:30px;
	padding-bottom: 30px;
}
.main>p,
.content .top>p{
	margin: 0;
}
.main .m-t{
	font-size: 25px;
}
.main .m-b{
	font-size: 25px;
	color: #fff;
	margin-top: 10px;
}
.main a{
	display: inline-block;
	width: 100px;
	font-size: 16px;
	text-decoration: none;
	color: #000;
	background-color: #FDA51F;
	text-align: center;
	line-height: 2;
	border:1px solid #000;
}
/*列表模块*/
.content{
	width: 100%;
}
.content .top{
	text-align: center;
	padding-top: 30px;
}
.content .top .top-h{
	font-size: 30px;
}
.content .top .top-c{
	line-height: 30px;
}
.content .list-content{
	padding-top: 20px;
	padding-bottom: 25px;
}
.content .list-content .col-4{
	display: inline-block;
	padding:10px;
}
.content .list-content .col-4 img{
	width: 50px;
	display: block;
	margin-bottom: 10px;
}
.content .list-content .box-centent{
	border:2px solid #DFDFDF;
	border-radius: 3px;
	padding: 15px;
}
.content .list-content .box-centent p{
	margin-top: 10px;
}
.content .list-content .box-centent .text{
	font-size: 20px;
}
.content .list-content .box1 .box-centent .text{
	color: #FDA550;
}
.content .list-content .box2 .box-centent .text{
	color: #FA3764;
}
.content .list-content .box3 .box-centent .text{
	color: #9986CC;
}
.content .list-content .box4 .box-centent .text{
	color: #21BAB3;
}
.content .list-content .box5 .box-centent .text{
	color: #A4C418;
}
.content .list-content .box6 .box-centent .text{
	color: #FE38B1;
}
/*老师模块*/
.parent{
	width: 100%;
	background:url(../img/texture-yellow.png);
}
.parent .people{
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.parent .con:after{
	content: "";
	display: block;
	width: 1px;
	height: 1px;
}
.parent .people .user img{
	display: block;
	width: 160px;
	border-radius: 50%;
	margin: 20px auto 10px;
}
.parent .people .user strong{
	display: block;
}
.parent .people .user span{
	color: #815D1D;
}
.parent .people .msg{
	font-size: 25px;
	color: #ffffff;
}
.parent .people .msg-con{
	font-size: 10px;
	line-height: 1.5;
	margin-top: 10px;
	color: #815D1D;
}
.parent .people .swiper-pagination-fraction,
.parent .people .swiper-pagination-custom,
.parent .people .swiper-container-horizontal > .swiper-pagination-bullets {
  top:0;
  left: 0;
  width: 100%;
}
.parent .people .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  display: block;
  border-radius: 0%;
  background: #000;
  opacity: 0.2;
}
.parent .people .swiper-pagination-bullet-active {
  opacity: 1;
  width: 30px;
  background: #007aff;
}
.parent .people .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0px;
}
/*新闻模块*/
.news{
	width: 100%;
	padding-bottom: 40px;
}
.news .center{
	padding-top: 30px;
}
.news .center .new-list,
.news .center .latest{
	text-align: center;
}
.news .center .latest p:nth-child(1){
	font-size: 30px;
	color: #3E5569;
	margin-bottom: 0px;
}
.news .center .latest p:nth-child(1) span{
	color: #0CB3A4;
}
.news .center .latest p:nth-child(2){
	font-size: 10px;
	color: gray;
}
.news .center .new-list li{
	display: inline-block;
	text-align: left;
	padding:15px;
}
.news .center .new-list li:nth-child(1) .new-box{
	border:1px solid #86C417;
	border-bottom-width:4px;
	border-radius: 5px;
}
.news .center .new-list li:nth-child(2) .new-box{
	border:1px solid #FA3664;
	border-bottom-width:4px;
	border-radius: 5px;
}
.news .center .new-list li:nth-child(3) .new-box{
	border:1px solid #746ECB;
	border-bottom-width:4px;
	border-radius: 5px;
}
.news .center .new-list li h4{
	margin:0;
}
.news .center .new-list li span{
	font-size: 10px;
	color: gray;
	
}
.news .center .new-list img{
	width: 100%;
}
.news .center .new-list .con{
	box-sizing: border-box;
	padding:10px;
}
.news .center .new-list .con .green{
	color: #86C417;
}
.news .center .new-list .con .pink{
	color: #FA3664;
}
.news .center .new-list .con .blue{
	color: #746ECB;
}

@media only screen and (max-width: 768px) {
	.swiper-container .swiper-wrapper .pic1 .text{
		font-size: 26px;
	}
	.swiper-container .swiper-wrapper .pic1 img{
		width: 200px;
	}
	.swiper-container .swiper-wrapper .pic1 .p-img{
		padding-top: 85px;
	}
}